
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


.hero {
    position: relative;
    /* background-image: url(https://images.pexels.com/photos/1925536/pexels-photo-1925536.jpeg?cs=srgb&dl=pexels-lilartsy-1925536.jpg&fm=jpg); */
    background-size: cover;
    background-position: center;
  }
  
  .grid {
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:25%;
    margin-right:25%;
  }

    .container {
      height: 800px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      z-index: 1;
      position: relative;

    
      @media (max-width: $mantine-breakpoint-sm) {
        height: 500px;
        padding-bottom: calc(var(--mantine-spacing-xl) * 3);
      }
    }
  
  .title {
    color: var(--mantine-color-dark-blue);
    font-family: var(--mantine-font-family-headings);
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
  
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: 40px);
      line-height: 1.2;
    }
  
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: 28px;
      line-height: 1.3;
    }
  }
  
  .description {
    color: var(--mantine-color-dark-blue);
    max-width: 600px;
  
    @media (max-width: $mantine-breakpoint-sm) {
      max-width: 100%;
      font-size: var(--mantine-font-size-sm);
    }
  }
  
  .control {
    margin-top: calc(var(--mantine-spacing-xl) * 1.5);
  
    @media (max-width: $mantine-breakpoint-sm) {
      width: 100%;
    }
  }