  .Main {
    background-color: var(--mantine-color-white); 
    border: 1px solid var(--mantine-color-gray-4); 
    border-radius: var(--mantine-radius-md); 
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    width: 100%-1rem;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    gap: 1rem;
  }
