.bubblemenu {
    display: flex;
    padding: 1rem;
    border-radius: var(--mantine-radius-md);
    background-color: white;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    z-index: 1000;
  }
  
  .bubblemenu .mantine-RichTextEditor-control {
    margin: 0 4px;
  }
  
  .editorContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .editorContent {
    flex: 1;
    height: 100%;
    overflow-y: auto;
  }

